section.environmental-issues{
    ul{
        margin-top: 2rem;
        width: 100%;
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;

        @media only screen and(min-width: 1460px){
            justify-content: center;
            gap: 1rem;
        }

        li{
            padding: 0 1rem;
            margin-bottom: 2rem;
            div{

                position: relative;
                height: 400px;
                width: 260px;


                span{
                    color: $white;
                    font-weight: bold;
                    font-size: 1.1rem;
                    position: absolute;
                    bottom: 15px;
                    left: 10px;
                }
            
                img{
                    border-radius: 5px;
                    width: 100%;
                    height: 100%;
                    filter: brightness(70%);
                    object-fit: cover;
                    object-position: center;
                    transition: 0.1s;
                    &:hover{
                        filter: brightness(100%);
                    }
                }


            }
        }
    }
}

@include breakpoint(tablet){
    section.environmental-issues{
        ul{
            li{
                div{
                    height:330px;
                    width: 230px;
                }
            }
        }
    }
}
@include breakpoint(desktop2){
    section.environmental-issues{
        ul{
            li{
                div{
                    height:400px;
                    width: 300px;
                }
            }
        }
    }
}

 