footer{
    .footer-wrapper{
        max-width: 1910px;
        margin: 0 auto;
    }
    
    padding-bottom: 1.5rem;
    color: $white;
    background-color: $darkblue;

    @include breakpoint(desktop1){
        padding: 0;
    }

    .footer-links{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;

        div{
            width: 100%;
        }

        @include breakpoint(desktop1){
            border-bottom: rgba($color: $white, $alpha: 0.7) 1px solid;
            flex-direction: row;
            justify-content: space-around;
            //gap: 25%;
            padding: 1rem 2rem 1rem 2rem;

            div{
                width: 400px;
            }
        }
    }

    .footer-social-media-links{
        margin-top: 2rem;
        display: flex;
        justify-content: space-around;

        li{
            border-radius: 50%;
            height: 20px;
            width: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            
            img, span, .dashicons{
                height: 30px;
                opacity: 0.8;
                color: white;
                transition: 0.2s;
                &:hover, &:focus{
                    opacity: 1;
                }
                display: flex;
                align-items: center;
            }
        }
        
        @include breakpoint(desktop1){
            padding-left: 2rem ;
            justify-content: flex-start;
            gap: 2.2rem;
            margin: 0;
            img{
                width: 20px;
            }
        }
    }

    .footer-page-links{
        display: flex;
        flex-direction: column;
        width: 100%;
        a{
            color: $white;
            opacity: 0.8;
            font-weight: lighter;
            letter-spacing: .1rem;
            display: inline-block;
            width: 100%;
            text-align: center;
            &:hover, &:focus{
                opacity: 1;
            }
        }

        li{
            border-bottom: 1px solid rgba($color: $white, $alpha: 0.3);
            padding: 1.3rem 0;
        }
        @include breakpoint(desktop1){
            flex-direction: row;
            justify-content: center;
            // gap: 2rem;
            font-size: .8rem;
            a{

            }
            li{
                border-bottom: none;
                padding: 0;
            }

            li:nth-of-type(2){
                a::after,
                a::before{
                    content: "|";
                    margin-left: 2rem;
                    margin-right: 2rem;
                }
            }
            
        }
    }

    .footer-text{
        margin-top: 2rem;
        font-size: .7rem;
        text-align: center;
        opacity: 0.8;
        font-weight: lighter;
        @include breakpoint(desktop1){
            margin: 0;
            padding: 1rem 0 1rem 0;
        }
    }
}