header{
    padding: 1rem 1rem 1rem 2rem;
    background: url('../images/drop-of-water-545377_1920.jpg') 50% 50%;
    background-size: cover;
    height: 500px;

    @include breakpoint(desktop1){
        height: 600px;
        
        .header-wrapper{
            max-width: 1910px;
            margin: 0 auto;
        }
        padding: 2rem 4rem 2rem 4rem;
    }
    @include breakpoint(desktop2){
        font-size: 1.2rem;
        height: 700px;
    }

    nav{
        display: flex;
        @include breakpoint(desktop2){
            max-width: 1910px;
            margin: 0 auto;
        }
        justify-content: space-between;
    }

    h1{  
        max-width: 30ch;
        margin-top: 18rem;
        @include breakpoint(desktop1){
            margin-top: 21rem;
            font-size: 2.8rem;
        }
        @include breakpoint(desktop2){
            font-size: $headingSize + 1.5rem;
            margin-top: 25rem;

        }
    }

    a.white-button{
        margin-top: 2rem;
    }
}

#navigation{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    position: absolute;
    top: 80px;
    left: -1000px;
    transition: .5s;
    li{
        display: inline-block;
        padding: .5rem 1rem;
        a{
            display: inline-block;
        }
    }
}

a.nav-links{
    color: $white;
    padding-bottom: 3px;
    padding: 3px 2px;
    
    &:visited{
        color: $white;
    }

    &:hover, &:focus{
        border-bottom: 1px solid $white;
    }

}

[aria-current="page"]{
    border-bottom: 1px solid $white;
    
    &:hover{
        color: $white !important;
    }
}

h1{
    color: $white;
    font-weight: bold;
    font-size: $headingSize;
}
