@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@700;800;900&display=swap');
@import 'breakpoints.scss';
@import 'reset.scss';
@import 'vars.scss';
@import 'logo.scss';
@import 'header.scss';
@import 'hamburger.scss';
@import 'buttons.scss';
@import 'work.scss';
@import 'environmental_issues.scss';
@import 'about_me.scss';
@import 'donate.scss';
@import 'footer.scss';

body{
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

h2{
    font-size: $heading2Size;
    @include breakpoint(desktop1){
        font-size: $heading2Size + 1rem;
    }
    @include breakpoint(desktop2){

    }
    font-weight: bold;
}

section > h2{
    margin-bottom: 1rem;
    @include breakpoint(desktop1){
        margin-bottom: 2rem;
    }
}

main{
    section:nth-of-type(1){
        margin-top: 3rem;
        @include breakpoint(desktop1){
            margin-top: 5rem;
        }
    }
    section:last-of-type{
        margin-bottom: 3rem;

        @include breakpoint(desktop1){
            margin-bottom: 5rem;
        }
    }
}

section + section  {
    margin-top: 3rem;
    @include breakpoint(desktop1){
        margin-top: 5rem;
    }
}

p{
    font-size: $fontSize;
    line-height: 1.4rem;
    @include breakpoint(desktop1){
        font-size: $fontSize + .2rem;
        line-height: 1.6rem;
    }
    max-width: 100ch;
}

main{
    padding: 0 2rem;
    @include breakpoint(desktop1){
        padding: 0 4rem;
    }
}

//@include breakpoint(desktop1){
    .main-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        max-width: 1910px;
        margin: 0 auto;
    }
//}



section.page, section.page-list {
    img{
        width: 100%;
        height: 300px;
        object-fit: cover;
        margin-bottom: 2em;

        @include breakpoint(tablet){
            height: 280px;
            width: 80%;
        }
        
        @include breakpoint(desktop1){
            height: 300px;
            width: 50%;
        }
    }
    p{
        margin-bottom: 2em;
    }
}