$blueAccent: #00B9F2;
$btnGreen: #45B348;
$yellowBg: #FFFAD8;
$blueBg: #C6EFFC;
$redBg: #FADDD3;
$greenBg: #D8EDD6;
$white: white;
$black: black;
$headingFontSize: 5.8rem;
$heading2FontSite: 3.5rem;
$pageFontSize: 1.9rem;