{% extends 'base.twig' %}

{% block content %}
        <main>

            {% include 'partials/paragraph.twig' %}
            {% include 'partials/work.twig' %}
            {% include 'partials/environmental-issues.twig' %}
            {% include 'partials/about-me.twig' %}
            {% include 'partials/donations.twig' %}

        </main>

{% endblock %}