{% extends 'base.twig' %}

{% block heading %}

<h1>{{ post.title }} </h1>

{% endblock %}

{% block content %}
        <main>
        <section class='single'>
            {% if post.thumbnail != null %}
                <img src="{{ post.thumbnail.src }}">
            {% endif %}
            {{ post.content }}
        </section>
        </main>
{% endblock %}