{% extends 'base.twig' %}

{% block content %}
        <main>
    {% for post in posts %}
        <section class="page-list">
            <h2> {{ post.title }} </h2>
            {% if post.thumbnail != null %}
                <img src="{{ post.thumbnail.src }}">
            {% endif %}
            <p>{{ post.preview.read_more('') }}</p>
            <a class="white-button darkblue-button"href="{{ post.link }}">Read more</a>
        </section>
    {% endfor %}
        </main>
{% endblock %}