$hamburger-padding-x           : 15px;
$hamburger-padding-y           : 15px;
$hamburger-layer-width         : 32px;
$hamburger-layer-height        : 2px;
$hamburger-layer-spacing       : 6px;
$hamburger-layer-color         : $white;
$hamburger-layer-border-radius : 1px;
$hamburger-hover-opacity       : 0.7;

@import "../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";

.active-nav{
    left: 0 !important;
}

@include breakpoint(desktop1){
    #hamburger{
        display: none;
    }
    header{
        nav{
            align-items: center;
        }
    }
    #navigation{
        width: 500px;
        position: initial;
    }
}

@include breakpoint(desktop2){
    #navigation{
        width: 600px;
    }
}