@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@700;800;900&display=swap');
@import 'reset.scss';
@import 'vars.scss';
@import 'logo.scss';
@import 'hamburger.scss';
@import 'header.scss';
@import 'buttons.scss';
@import 'work.scss';
@import 'environmental_issues.scss';
@import 'about_me.scss';
@import 'donate.scss';
@import 'footer.scss';

body{
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

h2{
    font-size: $heading2Size;
    font-weight: bold;
}

section > h2{
    margin-bottom: 1rem;
}

main{
    section:nth-of-type(1){
        margin-top: 3rem;
    }
    section:last-of-type{
        margin-bottom: 3rem;
    }
}

section + section  {
    margin-top: 3rem;
}

p{
    font-size: $fontSize;
    line-height: 1.4rem;
}

main{
    padding: 0 2rem;
}